@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");


@font-face {
  font-family: "Agustina";
  src: url(../fonts/Agustina.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #000000;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}

html::-webkit-scrollbar-thumb {
  background: #420177;
}

/* pre loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}

/* pre loader end */

/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 1.5%;
  height: 6.5rem;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

section {
  min-height: 100vh;
  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  color: rgb(95, 9, 255);
  font-weight: 800;
  text-align: center;
}

.heading span {
  color: rgb(0, 162, 255);
}

header .logo {
  font-family: Agustina;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
}

header .logo i {
  font-size: 2.2rem;
}

header .logo:hover {
  color: #fc8c05;
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar li {
  margin-left: 4rem;
  font-family: "Comic Sans MS";
}

header .navbar ul li a {
  font-size: 1.57rem;
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #011aff;
  border-bottom: 0.2rem solid #011aff;
  padding: 0.5rem 0;
}

/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: whitesmoke;
  display: none;
}

@media (max-width: 768px) {
  #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }

  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }

  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
    font-family: 'Comic Sans MS';
  }

  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    right: 0;
  }
}

/* hamburger icon ends */

/* hero section starts*/
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}

.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}

.home .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #04eeffda;
}

.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ff7b00;
}

.home .content p {
  font-size: 2.5rem;
  color: #04ffabea;
  font-weight: 600;
  padding: 1rem 0;
}

.home .content p span {
  font-size: 2.5rem;
  color: rgb(218, 9, 9);
  font-weight: 600;
  padding: 1rem 0;
}

.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}

.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.home .btn:hover {
  background: #1a047e;
}

.home .btn:hover i {
  transform: translateX(5px);
}

/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}

.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}

.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}

.social-icons a.github:hover {
  background-color: #0e0e0e;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dev:hover {
  background-color: #070707;
}

.social-icons a.instagram:hover {
  background-color: #ee00da;
}

/* social icons end */

/* hero media queries starts*/
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }

  .socials {
    margin-top: 12rem;
  }

  .home .image img {
    margin-top: -12rem;
  }

  .home .content p {
    font-size: 2.2rem;
  }

  .home .content p span {
    font-size: 2.2rem;
  }
}

/* hero media queries ends*/
/* hero section end */

/* about section starts */
.about {
  background: rgb(0, 0, 0);
}

.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}

.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}

.about .row .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}

.about .row .image img:hover {
  mix-blend-mode: normal;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}

.about .row .content h3 {
  color: rgb(95, 9, 255);
  font-size: 2.5rem;
}

.about .row .content .tag {
  font-size: 1.4rem;
  color: rgba(102, 114, 205);
  font-weight: 600;
  margin-top: 1rem;
  text-shadow: black;
}

.about .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
  color: white;
}

.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}

.about .row .content .box-container .box p {
  text-transform: none;
}

.about .row .content .box-container .box p span {
  color: #2034eb;
}

.resumebtn {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  margin-top: 6rem;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

.resumebtn svg {
  height: 30px;
  position: absolute;
  padding: 0px 5px;
  margin-top: -4px;
}

.resumebtn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
}

.resumebtn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.resumebtn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.resumebtn:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.resumebtn:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.resumebtn:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }

  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }

  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }

  .about .row .content {
    padding: 1rem;
  }

  .about .row .content .h3 {
    text-align: center;
  }

  .about .row .content .box-container {
    gap: 0;
  }
}

/* about media queries ends*/
/* about section ends */

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  margin: 8px;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #04ec5d;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 12rem);
}

/* scroll top ends */

/* footer */
.footer {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

.quote-container .tag {
  font-family: "Poppins", sans-serif;
  font: size 20px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  height: 78px;
  margin: 5px auto 0px;
  display: block;
  box-sizing: border-box;
}
